{{>/fragments/pre-content}}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <table>
                <caption class="heading-small">Matching Clients</caption>
                <thead>
                <tr>
                    <th scope="col">UFN</th>
                    <th scope="col">Forename</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                {{#data}}
                <tbody>
                <tr>
                    <td>{{ . }}</td>
                    <td>{{ . }}</td>
                    <td>{{ . }}</td>
                    <td>
                        <a>Edit</a>
                    </td>
                </tr>
                </tbody>
                {{/data}}
            </table>

        </div>
    </div>


</main>

{{>/fragments/post-content}}
