<div>
    <h3>Edit Person Form</h3>
    <div>
        <div *ngIf="serversideErrors">
            <font color='red'>
                <p *ngFor="let error of serversideErrors">{{error}}</p>
            </font>
        </div>
        <form (ngSubmit)="updatePerson()" #editPersonFomr="ngForm">

            <div>
                <label for="UFN">UFN</label>
                <input type="text" [(ngModel)]="person.ufn" name='ufn' #ufn="ngModel" readonly/>
            </div>
            <div *ngIf="ufn.errors && ufn.touched">
                <p *ngIf="ufn.errors.required">
                    <font color='red'> UFN is required</font>
                </p>
            </div>
            <br>
            <div>
                <label for="Title">Title</label>
                <select name="title" [(ngModel)]="person.title">
                    <option *ngFor="let title of staticData.titleStaticValues" [value]="title">{{title}}</option>
                </select>
            </div>
            <br>
            <div>
                <label for="Forename">Forename</label>
                <input type="text" [(ngModel)]="person.forename" name='forename' />
            </div>
            <br>
            <div>
                <label for="Surname">Surname</label>
                <input type="text" [(ngModel)]="person.surname" name='surname' />
            </div>
            <br>
            <div>
                <label>Residence Address</label>
                <br>
                <br>
                <div>
                    <label for="Address Line1">Address Line 1</label>
                    <input type="text" [(ngModel)]="person.residenceAddress.addressLine1" name='addressLine1' (blur)="updateCorrespondanceAddressOnResidenceAddressChange()"
                    />
                </div>
                <br>
                <div>
                    <label for="Address Line2">Address Line 2</label>
                    <input type="text" [(ngModel)]="person.residenceAddress.addressLine2" name='addressLine2' (blur)="updateCorrespondanceAddressOnResidenceAddressChange()"
                    />
                </div>
                <br>
                <div>
                    <label for="Address Line3">Address Line3</label>
                    <input type="text" [(ngModel)]="person.residenceAddress.addressLine3" name='addressLine3' (blur)="updateCorrespondanceAddressOnResidenceAddressChange()"
                    />
                </div>
                <br>
                <div>
                    <label for="Post Code">Post Code</label>
                    <input type="text" [(ngModel)]="person.residenceAddress.postCode" name='postCode' (blur)="updateCorrespondanceAddressOnResidenceAddressChange()"
                    />
                </div>
                <br>
            </div>

            <div>
                <label for="Date Of Birth">Date Of Birth</label>
                <input type="text" [(ngModel)]="person.dateOfBirth" name='dateOrBirth' (blur)="populateAge()" />
            </div>
            <div>
                <label for="Age">Age</label>
                <input type="text" [(ngModel)]="person.age" name='age' readonly/>
            </div>
            <br>
            <div>
                <label for="NI Number">NI Number</label>
                <input type="text" [(ngModel)]="person.niNumber" name='niNumber' />
            </div>
            <br>
            <div>
                <label for="Employment Status">Employment Status</label>
                <select name="employmentStatus" [(ngModel)]="person.employmentStatus" required>
                    <option *ngFor="let value of staticData.employmentStatusValues" [value]="value">{{value}}</option>
                </select>
            </div>
            <br>
            <div>
                <label for="Relationship Status">Relationship Status</label>
                <select name="relationshipStatus" [(ngModel)]="person.relationshipStatus" required>
                    <option *ngFor="let value of staticData.relationshipStatusValues" [value]="value">{{value}}</option>
                </select>
            </div>
            <br>
            <div>
                <label for="Telephone Number">Telephone Number</label>
                <input type="text" [(ngModel)]="person.telephoneNumber" name='telephoneNumber' />
            </div>
            <br>
            <div>
                <label>Correspondence Address</label>
                <br>
                <div>
                    <label for="Same As ReisdenceAddress">
                        <input type="checkbox" name="sameAsResidenceAddressFlag" [(ngModel)]="sameAsResidenceAddressFlag" (change)="updateCorrespondanceAddress($event)"> Same As Reisdence Address(Y/N)
                    </label>
                </div>

                <br>
                <div>
                    <label for="Address Line1">Address Line 1</label>
                    <input type="text" [(ngModel)]="person.correspondenceAddress.addressLine1" name='ca.addressLine1' [disabled]="sameAsResidenceAddressFlag"
                    />
                </div>
                <br>
                <div>
                    <label for="Address Line2">Address Line 2</label>
                    <input type="text" [(ngModel)]="person.correspondenceAddress.addressLine2" name='ca.addressLine2' [disabled]="sameAsResidenceAddressFlag"
                    />
                </div>
                <br>
                <div>
                    <label for="Address Line3">Address Line3</label>
                    <input type="text" [(ngModel)]="person.correspondenceAddress.addressLine3" name='ca. addressLine3' [disabled]="sameAsResidenceAddressFlag"
                    />
                </div>
                <br>
                <div>
                    <label for="Post Code">Post Code</label>
                    <input type="text" [(ngModel)]="person.correspondenceAddress.postCode" name='ca.postCode' [disabled]="sameAsResidenceAddressFlag"
                    />
                </div>
                <br>
            </div>
            <br>
            <div>
                <label for="Source Of Busniness">Source Of Busniness</label>
                <select name="sourceOfBusiness" [(ngModel)]="person.sourceOfBusiness" required>
                    <option *ngFor="let value of staticData.sourceOfBusinessValues" [value]="value">{{value}}</option>
                </select>
            </div>
            <br>
            <div>
                <label for="existingClient">
                    <input type="checkbox" name="existingClient" (change)="updateExistingClient($event)" [checked]="isExistingClient()"> Existing Client(Y/N)
                </label>
            </div>
            <br>
            <div>
                <label>
                    <input type="checkbox" name="requestSpecificSolicitor" (change)="updateRequestSpecificSolicitor($event)" [checked]="isrequestSpecificSolicitor()"> Request Specific Solicitor(Y/N)?
                </label>
            </div>
            <br>
            <div>
                <label for="Request Specific Solicitor Text">Request Specific Solicitor Text</label>
                <input type="text" [(ngModel)]="person.requestSpecificSolicitorText" name='requestSpecificSolicitorText' />
            </div>
            <br>
            <div>
                <label for="Ethnicity">Ethnicity</label>
                <select name="ethnicity" [(ngModel)]="person.ethnicity" required>
                    <option *ngFor="let value of staticData.ethnicityValues" [value]="value">{{value}}</option>
                </select>
            </div>
            <br>
            <div>
                <label for="Disability">Disability</label>
                <br>
                <div *ngFor="let value of staticData.disabilityValues">
                    <label for="{{value}}">{{value}}
                        <input type="checkbox" name="disability" id="{{value}}" (change)="updateDisability(value,$event)" [checked]="isDisabilityOption(value)">
                    </label>
                </div>
            </div>
            <br>
            <div>
                <label for="Police Station">Police Stattion</label>
                <input type="text" [(ngModel)]="person.policeStation1" name='policeStation1' />
            </div>
            <br>
            <div>
                <label for="Magistrate Court">Magistrate Court</label>
                <input type="text" [(ngModel)]="person.magistrateCourt" name='magistrateCourt' />
            </div>
            <br>
            <div>
                <label for="Crown Court">Crown Court</label>
                <input type="text" [(ngModel)]="person.crownCourt" name='crownCourt' />
            </div>
            <br>
            <div>
                <label for="Other Court">Other Court</label>
                <input type="text" [(ngModel)]="person.otherCourt" name='otherCourt' />
            </div>
            <br>
            <div>
                <label for="Nationality">Nationality</label>
                <input type="text" [(ngModel)]="person.nationality" name='nationality' />
            </div>
            <br>
            <div>
                <label for="Venue">Venue</label>
                <select name="venue" [(ngModel)]="person.venue" (change)="venueSelected($event.target.value)">
                    <option *ngFor="let value of staticData.venueValues" [value]="value">{{value}}</option>
                </select>
            </div>
            <br>
            <div>
                <label for="Venue Other">Venue Other</label>
                <input type="text" [(ngModel)]="person.venueOther" name='venueOther' [disabled]="venueOtherDisabled" />
            </div>
            <br>
            <div>
                <label for="Allegation">Allegation</label>
                <input type="text" [(ngModel)]="person.allegation" name='allegation' />
            </div>
            <br>
            <div>
                <label for="Previous Conviction(Y/N)?">
                    <input type="checkbox" name="previousConviction" (click)="updatePreviousConviction($event)" [checked]="isPreviousConviction()"> Previous Conviction(Y/N)?
                </label>
            </div>
            <br>
            <div>
                <label for="Funding Date">Funding Date</label>
                <input type="text" [(ngModel)]="person.fundingDate" name='fundingDate' />
            </div>
            <br>
            <div>
                <label for="Advice And Assistance">Advice And Assistance</label>
                <input type="text" [(ngModel)]="person.adviceAndAssistance" name='adviceAndAssistance' />
            </div>
            <br>
            <div>
                <label for="Proof Of Benefits Requested">Proof Of Benefits Requested</label>
                <input type="text" [(ngModel)]="person.proofOfBenefitsRequested" name='proofOfBenefitsRequested' />
            </div>
            <br>
            <div>
                <label for="Police Station">Police Station</label>
                <input type="text" [(ngModel)]="person.policeStation2" name='policeStation2' />
            </div>
            <br>
            <div>
                <label for="Pre Order Work">Pre Order Work</label>
                <input type="text" [(ngModel)]="person.preOrderWork" name='preOrderWork' />
            </div>
            <br>
            <div>
                <label for="Rep Order Applied For">Rep Order Applied For</label>
                <input type="text" [(ngModel)]="person.repOrderAppliedFor" name='repOrderAppliedFor' />
            </div>
            <br>
            <div>
                <label for="Rep Order Granted">Rep Order Granted</label>
                <input type="text" [(ngModel)]="person.repOrderGranted" name='repOrderGranted' />
            </div>
            <br>
            <div>
                <label for="CRM3 Advocate">CRM3 Advocate</label>
                <input type="text" [(ngModel)]="person.crm3Advocate" name='crm3Advocate' />
            </div>
            <br>
            <div>
                <label for="Conflict Check(Y/N)?">
                    <input type="checkbox" name="conflictCheck" (click)="updateConflictCheck($event)" [checked]="isConflictCheck()"> Conflict Check(Y/N)?
                </label>
            </div>
            <br>
            <div>
                <label for="Conflict Check Date">Conflict Check Date</label>
                <input type="text" [(ngModel)]="person.conflictCheckDate" name='conflictCheckDate' />
            </div>
            <br>
            <div>
                <label for="Conflict Check Name">Conflict Check Name</label>
                <input type="text" [(ngModel)]="person.conflictCheckName" name='conflictCheckName' />
            </div>
            <br>
            <div>
                <label for="Risk Assessment Done(Y/N)?">
                    <input type="checkbox" name="riskAssessmentDone" (click)="updateRiskAssessment($event)" [checked]="isRiskAssessmentDone()"> Risk Assessment Done(Y/N)?
                    <br>

                    <input type="radio" value="Standard" name="riskAssessmentType" [(ngModel)]="person.riskAssessmentType" [disabled]="riskAssessmentTypeSelectionDisabled"> Standard

                    <input type="radio" value="Non Standard" name="riskAssessmentType" [(ngModel)]="person.riskAssessmentType" disabled> Non Standard

                </label>
            </div>
            <br>
            <div>
                <label for="Co Accused">Co Accused</label>
                <input type="text" [(ngModel)]="person.coAccused" name='coAccused' />
            </div>
            <br>
            <div>
                <button type="submit" [disabled]="!editPersonFomr.form.valid">Update</button>
            </div>
        </form>
    </div>
</div>