<div>
    <h3>Edit Person Form</h3>
    <div>
        <div *ngIf="serversideErrors">
            <font color='red'>
                <p *ngFor="let error of serversideErrors">{{error}}</p>
            </font>
        </div>
        <form (ngSubmit)="updateclient()" #editClientForm="ngForm">

            <div>
                <label for="UFN">UFN</label>
                <input type="text" [(ngModel)]="attednanceNote.id" name='id' #ufn="ngModel" readonly/>
            </div>
            <div>
                <label for="UFN">UFN</label>
                <input type="text" [(ngModel)]="attednanceNote.ufn" name='ufn' #ufn="ngModel" readonly/>
            </div>
            <div>
                <label for="Attendance Date">Attendance Date</label>
                <input type="text" [(ngModel)]="attednanceNote.attendanceDate" name='attendanceDate' />
            </div>
            <div>
                <label for="Status">status</label>
                <input type="text" [(ngModel)]="attednanceNote.status" name='status' />
            </div>
            <div>
                <label for="Free Earner">Free Earner</label>
                <input type="text" [(ngModel)]="attednanceNote.freeEarner" name='freeEarner' />
            </div>
            <div>
                <label for="Venue">Venue</label>
                <input type="text" [(ngModel)]="attednanceNote.venue" name='venue' />
            </div>
            <div>
                <label for="Risk Needed For Check">Risk Needed For Check</label>
                <input type="text" [(ngModel)]="attednanceNote.riskNeededForCheck" name='riskNeededForCheck' />
            </div>
            <div>
                <label for="Conflict Check">Conflict Check</label>
                <input type="text" [(ngModel)]="attednanceNote.conflictCheck" name='conflictCheck' />
            </div>
            <div>
                <label for="Client Attend">Client Attend</label>
                <input type="text" [(ngModel)]="attednanceNote.clientAttend" name='clientAttend' />
            </div>
            <div>
                <label for="Client Cps">Client Cps</label>
                <input type="text" [(ngModel)]="attednanceNote.clientCps" name='clientCps' />
            </div>
            <div>
                <label for="Attend Witness">Attend Witness</label>
                <input type="text" [(ngModel)]="attednanceNote.attendWitness" name='attendWitness' />
            </div>
            <div>
                <label for="Attend Other">Attend Other</label>
                <input type="text" [(ngModel)]="attednanceNote.attendOther" name='attendOther' />
            </div>
            <div>
                <label for="Prep">Prep</label>
                <input type="text" [(ngModel)]="attednanceNote.prep" name='prep' />
            </div>
            <div>
                <label for="Calls Made">Calls Made</label>
                <input type="text" [(ngModel)]="attednanceNote.callsMade" name='callsMade' />
            </div>
            <div>
                <label for="Attendance Date">Travel</label>
                <input type="text" [(ngModel)]="attednanceNote.travel" name='travel' />
            </div>
            <div>
                <label for="Advoc">Advoc</label>
                <input type="text" [(ngModel)]="attednanceNote.advoc" name='advoc' />
            </div>
            <div>
                <label for="Waiting">Waiting</label>
                <input type="text" [(ngModel)]="attednanceNote.waiting" name='waiting' />
            </div>
            <div>
                <label for="Mileage">Mileage</label>
                <input type="text" [(ngModel)]="attednanceNote.mileage" name='mileage' />
            </div>
            <div>
                <label for="Attendance Date">Instruction Notes</label>
                <input type="text" [(ngModel)]="attednanceNote.instructionNotes" name='instructionNotes' />
            </div>

        </form>
    </div>
</div>