{{>/fragments/pre-content}}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-two-thirds">

            <form action="/ui/client/attendanceNote/index" method="post">

                <div class="form-group">
                    <fieldset class="inline">
                        <legend>
                            <h1 class="heading-small">
                                Search attendance notes
                            </h1>
                        </legend>
                        <input type="text" name="ufn" placeholder="Please enter UFN" class="form-control"/>
                    </fieldset>
                </div>

                <div class="form-group">
                    <button class="button" type="submit">Search</button>
                </div>

            </form>

        </div>

    </div>

</main>

{{>/fragments/post-content}}