<div class="grid-row">
  <div class="column-two-thirds">
    <table>
      <caption class="heading-small">Attendance</caption>
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{attendance.id}}</td>
        </tr>
        <tr>
          <td>UFN</td>
          <td>{{attendance.ufn}}</td>
        </tr>
        <tr>
          <td>Scope</td>
          <td>{{attendance.scope}}</td>
        </tr>
        <tr>
          <td>Allegations</td>
          <td>{{attendance.allegations}}</td>
        </tr>
        <tr>
          <td>Custody</td>
          <td>{{attendance.custody}}</td>
        </tr>
        <tr>
          <td>Bail</td>
          <td>{{attendance.bail}}</td>
        </tr>
        <tr>
          <td>Allegations Text</td>
          <td>{{attendance.allegations_text}}</td>
        </tr>
        <tr>
          <td>Instruction</td>
          <td>{{attendance.instructions}}</td>
        </tr>
        <tr>
          <td>Advice</td>
          <td>{{attendance.advice}}</td>
        </tr>
        <tr>
          <td>Result</td>
          <td>{{attendance.result}}</td>
        </tr>
        <tr>
          <td>Action</td>
          <td>{{attendance.action}}</td>
        </tr>
        <tr>
          <td>Action Text</td>
          <td>{{attendance.actionText}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>