<div class="grid-row">
  <div class="column-two-thirds">
    <table>
      <caption class="heading-small">Attendane Note</caption>
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{attednanceNote.id}}</td>
        </tr>
        <tr>
          <td>UFN</td>
          <td>{{attednanceNote.ufn}}</td>
        </tr>
        <tr>
          <td>Attendance Date</td>
          <td>{{attednanceNote.attendanceDate}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{attednanceNote.status}}</td>
        </tr>
        <tr>
          <td>Free Earner</td>
          <td>{{attednanceNote.freeEarner}}</td>
        </tr>
        <tr>
          <td>Venue</td>
          <td>{{attednanceNote.venue}}</td>
        </tr>
        <tr>
          <td>Risk Needed For Check</td>
          <td>{{attednanceNote.riskNeededForCheck}}</td>
        </tr>
        <tr>
          <td>Conflict Check</td>
          <td>{{attednanceNote.conflictCheck}}</td>
        </tr>
        <tr>
          <td>Client Attend</td>
          <td>{{attednanceNote.clientAttend}}</td>
        </tr>
        <tr>
          <td>Client CPS</td>
          <td>{{attednanceNote.clientCps}}</td>
        </tr>
        <tr>
          <td>Attend Witness</td>
          <td>{{attednanceNote.attendWitness}}</td>
        </tr>
        <tr>
          <td>Attend Other</td>
          <td>{{attednanceNote.attendOther}}</td>
        </tr>
        <tr>
          <td>Prep</td>
          <td>{{attednanceNote.prep}}</td>
        </tr>
        <tr>
          <td>Calls Made</td>
          <td>{{attednanceNote.callsMade}}</td>
        </tr>
        <tr>
          <td>Travel</td>
          <td>{{attednanceNote.travel}}</td>
        </tr>
        <tr>
          <td>Advoc</td>
          <td>{{attednanceNote.advoc}}</td>
        </tr>
        <tr>
          <td>Waiting/td>
            <td>{{attednanceNote.waiting}}</td>
        </tr>
        <tr>
          <td>Mileage</td>
          <td>{{attednanceNote.mileage}}</td>
        </tr>
        <tr>
          <td>Instruction Notes</td>
          <td>{{attednanceNote.instructionNotes}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>